@page "/tictactoe"
@using BrowserGames.TicTacToe;
<h1>Tic Tac Toe</h1>


<div>
@if(hasWinner && Winner != null)
{
    <p>@Winner.Player won!</p>
}
else
{
    <p>Current Turn: @game.CurrentTurn</p>
}
<p>Turns: @game.Turns</p>

@if(game.IsGameOver && Winner == null)
{
    <p>Game is over!</p>
}
</div>
<main class="background">
    <div class="container">
        @for(int _row = game.Board.GetLowerBound(0); _row < 3; _row++)
        {
            @for(int _col= game.Board.GetLowerBound(0); _col < 3; _col++)
            {
                //Cache it to avoid some issues
                int row = _row;
                int col = _col;
                <div class="tile" @onclick="() => OnTileClicked(row, col)">
                    <div class="tile-value">
                        @if(game[row,col] != GamePiece.Empty)
                        {
                            <text>@game[row,col]</text>
                        }
                    </div>

                </div>
            }
        }
    </div>
    <button @onclick="() => game.ResetBoard()">Reset</button>
</main>

@code {
    public Game game;

    bool hasWinner = false;


    public WinnerEventArgs? Winner{ get; set; }


    private void OnTileClicked(int row, int col)
    {
        game.PerformPlay(row, col);
    }

    protected override async Task OnInitializedAsync()
    {
        game = new();
        game.OnWin += (o,e) =>
        {
            hasWinner = true;
            Winner = e;
        };

        game.OnRestart += () =>
        {
            hasWinner = false;
            Winner = null;
        };
    }


}
